<h1> Entrainement </h1>

<div id="fromage">Hello</div>
<div id="vin">Bye</div>

<div class="roger">Loremmm</div>

<div class="naruto">Narutoo1</div>
<div class="naruto">Narutoo2</div>
<div class="naruto">Narutoo3</div>
<div class="naruto">Narutoo4</div>


<%= javascript_pack_tag 'entrainement-DOM'%>