<h1> Entrainement </h1>

<div id="fromage">Hello</div>
<div id="vin">Bye</div>

<div class="roger">Loremmm</div>

<div class="naruto">Narutoo1</div>
<div class="naruto">Narutoo2</div>
<div class="naruto">Narutoo3</div>
<div class="naruto">Narutoo4</div>

<hr>

<div class="openclassroom">
    <p class="random">
      <span><a href="#">link 1</a></span>
    </p>

    <p class="notrandom">
      <span><a href="#">link 2</a></span
    </p>
</div>

<div id="main">Hello</div>

<%= javascript_pack_tag 'entrainement-DOM'%>