<h1><center> Drum kit </center></h1>
<div class="boxes-container" id="log">
<div class="row">
  <div class="col">
    <div class="box">
      <div class="box-title">A</div>
      <div class="box-content">kick</div>
      <audio id="sound" >
        <source src="http://soundcavern.free.fr/kick/kick010.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title">Z</div>
      <div class="box-content">head</div>
      <audio id="sound" >
        <source src="http://www.denhaku.com/r_box/sr16/sr16bd/headpnch.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title">E</div>
      <div class="box-content">foot</div>
      <audio id="sound" >
        <source src="http://www.denhaku.com/r_box/sr16/sr16bd/hi%20foot.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title">R</div>
      <div class="box-content">beat</div>
      <audio id="sound" >
        <source src="http://patrickjohnston.org/ASM/ROM%20data/Super%20Metroid/BF%20stuff/Aveon%20Theme/3_beat.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title">T</div>
      <div class="box-content">hall</div>
      <audio id="sound" >
        <source src="http://www.denhaku.com/r_box/sr16/sr16bd/brt%20hall.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title">Y</div>
      <div class="box-content">stab</div>
      <audio id="sound" >
        <source src="http://www.denhaku.com/r_box/sr16/sr16bd/lo%20stab.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title" name="QQQQ">Q</div>
      <div class="box-content">honst</div>
      <audio id="sound" >
        <source src="http://www.denhaku.com/r_box/sr16/sr16bd/lo%20honst.wav" >
      </audio>
    </div>
  </div>
  <div class="col">
    <div class="box">
      <div class="box-title">S</div>
      <div class="box-content">punch</div>
      <audio id="sound" >
        <source src="http://www.denhaku.com/r_box/sr16/sr16bd/punch%20rm.wav" >
      </audio>
    </div>
  </div>
</div>
</div>



<%= javascript_pack_tag 'event_ex_2'%>

