
<br><br>

<! --- onclick method --->
  <h1>onclick menu</h1>
  <button class="hamburger">Menu 2</button>
  <div class="list-hamburger">
    <ul>
      <li><a href="#">lien 1</a></li>
      <li><a href="#">lien 2</a></li>
      <li><a href="#">lien 3</a></li>
      <li><a href="#">lien 4</a></li>
    </ul>
  </div>

  <! --- addEventListener method --->
  <hr>
  <h1>addEventListener</h1>
  <h3 id="gros titre">Les évènements</h3>
  <p class="click-1"> Cliquez moi ! ( add eventListener simple ) </p>
  <p class="click-2"> Cliquez moi ! ( add eventListener fonction anonyme ) </p>
  <p class="click-3"> Cliquez moi ! ( add eventListener multi event ) </p>
  <p class='mouse-1'> Passez sur moi ! </p>

  <! --- l'objet event --->
  <hr>
  <h1>objet event</h1>
  <div id="div1">
    <p id="p1"> Qui est le déclencheur ? Le porteur d'évènements ?</p>
 
  </div>
  <p class="object-event-1"> Qui est le déclencheur ? Le porteur d'évènements ?</p>
  <p class="object-event-2"> Qui est le déclencheur ? Le porteur d'évènements ?</p>
  <p class="object-event-3"> Qui est le type d'évènement ?</p>

  <div id="div2">
    <p id="p2"> La propagation .. </p>
 
  </div>

  <div id="div3">
  <p id="p3"> Event prevault ..  </p>

</div>


  <%= javascript_pack_tag 'event_train'%>


  <hr>
